body {
  background-color: #bae2dd;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card {
  height: 400px;
  width: 350px;
  border-radius: 20px;
  background-color: #9ba1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.new {
  background-color: #9ba1d1;
}

.card.easy {
  background-color: rgb(21, 240, 21);
}
.card.medium {
  background-color: salmon;
}
.card.hard {
  background-color: red;
}

.inactive {
  display: none;
}

@media screen and (max-width: 640px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 1007px) and (min-width: 640px) {
  body {
    background-color: green;
  }
}
